.nav{
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  background:rgba($color: #000, $alpha: .3);
  display: flex;
  align-items: center;
  .main{
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navlogo{
      display: block;
      width: 204px;
      height: 30px;
    }
    .navlist{
      display: flex;
      width: 100%;
      max-width: 50%;
      justify-content: space-between;
    }
    .navitem{
      cursor: pointer;
      padding: 10px 20px;
      position: relative;
      &.navactive::after{
        content: "";
        display: block;
      }
    }
  }
}