@import "../node_modules/react-grid-layout/css/styles.css";
@import "../node_modules/react-resizable/css/styles.css";

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  min-width: 1400px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

.vjs-texttrack-settings {
  display: none;
}

.vjs-control-bar {
  display: none;
  border: 1px solid red;
}

.vjs-big-play-button {
  display: none;
}
